
/* reset-style */



a {

    text-decoration: none;
}


p {
    color: gray;
}


button {


    color: rgba(213, 144, 17, 0.825);
}










/* global-style */


.container {
width: 75%;
margin: 0 auto;
}

.d-inline-block {

    display: inline-block;
}





.color-white {

    color: white;
}


.card {


    width: 24%;
    background-color: rgba(128, 128, 128, 0.118);
    /* box-shadow: 0 0 10px 8px rgba(128, 128, 128, 0.301); */
    margin: 0 1% 1% 0;
    position: relative;
}



.float {

float: left;

}


.clear {

    clear: both;
}




.overlay {
text-align: center;
    background-color: rgba(41, 41, 41, 0.526);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}



.discount  {

    width: 11%;
    height: 9%;
    background-color: red;
    border-radius: 50%;
   padding-top: 3%;
   padding-right: 2.5%;
   padding-left: 1%;
   position: absolute;
   top: 4%;
   right: 4%;
}


.bg-green {

    background-color: green;
}

.card-content {

    margin-left: 2%;
}










/* custom-style */


.container h2 {
    text-align: center;
}


.card:hover .overlay {

    visibility:visible;
}



.card-price p {

    margin-left: 10%;
}



.card-img img {

    width: 100%;
    height: 200px;
}





.overlay button {
padding: 4%;
margin-top: 50%;
width: 50%;
font-weight: 600;
}







.btn{
    text-align: center;
    margin-top: 1%;
}

.btn button {

    width: 15%;
    padding: 0.5% 0;
    border: 2px solid rgba(213, 144, 17, 0.825);
    font-weight: 600;
}


/* .card1 {

margin-left: 8%;
}

.card2 {


margin: 0 4%;

}
 */



